---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { SITE } from "@config";
import Socials from "../../components/Socials.astro";
---

<Layout title={`Community | ${SITE.title}`}>
  <Header activeNav="community" />
  <Main pageTitle="Community" pageDesc="The Programming Pares Community">
    <div class="space-y-5">
      <div>
        <p class="font-bold">
          “To be human is to share in community. To refuse this is to live as
          less than human.” (Lectures, 14) Arrogance fractures communities;
          humility and service bind them. <span
            class="mt-2 block text-right italic sm:text-left"
            >- Musonius Rufus</span
          >
        </p>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
        consectetur corporis distinctio eum ipsa laudantium libero nisi officia
        officiis perspiciatis quidem quo suscipit tempore ut, voluptas.
        Accusantium deserunt dolorem eveniet impedit non obcaecati officia
        quidem, saepe sequi, tempora ullam unde, vel! Assumenda aut expedita
        laudantium natus, quaerat tempore vel voluptatibus!
      </div>
      <div class="flex flex-col items-center pt-3 sm:flex-row sm:items-start">
        <img class="mb-5 block w-1/2" src="/assets/qr.jpg" />

        <div class="space-y-5 pl-8">
          <div class="text-center sm:text-left">
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
          </div>

          <ul>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
          </ul>

          <div class="text-center sm:text-left">
            {
              Array.from({ length: 3 }).map((_, index) => (
                <a
                  target="_blank"
                  class="block text-skin-accent underline"
                  href="#"
                >
                  Join the Discord Community...
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </Main>
  <Footer />
</Layout>

<style>
  h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
</style>
